<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Card App</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="font-awesome/css/all.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body class="AngularCards bg-gradient" ng-app="ceLebApp">
    <section>
    <div id="main-content" class="container" ng-controller="mainCtrl">
      <div class="row mt-5">
          <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formBlock">
          <i class="far fa-plus-square"></i>&nbsp; Add new Member
        </button>

        <!-- Modal -->
        <div class="modal fade" id="formBlock" tabindex="-1" role="dialog" aria-labelledby="formBlockTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="formBlockLongTitle">Add new Team Member</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form ng-submit="newNameCard()">
                    <div class="floating-label-form-group">
                      <label>Full Name</label>
                      <input class="form-control" name="name" placeholder="Name" type="text" ng-model="ceLebname" ng-required />
                    </div>
                    <div class="floating-label-form-group">
                      <label>Job Title</label>
                      <input class="form-control" name="job" placeholder="Job Title"type="text" ng-model="ceLebjob" ng-required />
                    </div>
                    <div class="floating-label-form-group">
                      <label>Photo URL</label>
                      <input class="form-control" name="photo_url" placeholder="Photo Url" ng-model="ceLebphoto" ng-required>
                    </div>
                    <div class="floating-label-form-group">
                      <label>LinkedIn</label>
                      <input class="form-control" name="linked" placeholder="LinkedIn" type="text" ng-model="ceLeblinked" ng-required />
                    </div>
                    <div class="floating-label-form-group">
                      <label>Photo URL</label>
                      <input class="form-control" name="email" placeholder="email" ng-model="ceLebemail" ng-required>
                    </div>
                  <button type="submit" class="btn btn-primary btn-xl mt-3">Create</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="row flex-row">
          <div class="col-md-4 item-flex" ng-repeat="nameCard in nameCards | orderBy:'':true"  ng-class="{'editing-item': editing}">
            <!-- Card Narrower -->
            <div class="card card-cascade narrower flex-contain"  ng-click="editing = true">
              <!-- Card image -->
              <div class="view view-cascade overlay">
                <img class="card-img-top" src="{{nameCard.photo_url}}" alt="Card image cap">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">
                <!-- Title -->
                <h4 class="card-title">{{nameCard.name}}</h4>
                <h6 class="card-job-title">{{nameCard.job}}</h6>
                  <!-- Facebook -->
                 <a href="{{nameCard.linked}}" class="btn btn-outline-dark btn-social text-center rounded-circle"><i class="fab fa-linkedin-in"></i></a>
                 <!-- Twitter -->
                 <a href="mailto:{{nameCard.email}}" class="btn btn-outline-dark btn-social text-center rounded-circle"><i class="fas fa-envelope"></i></a>

              </div>
              <div class="closeOut" ng-click="remove(nameCard)">
                <img src="img/close.png" class="img-responsive"/>
              </div>
            </div>
          </div>
        </div>
        <div id="push"></div>
      </div><!-- end of content and main controler-->
    </section>
    <!-- Employee list goes here. There is initial data for you in application.js -->

  </body>

  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="js/underscore.js" type="text/javascript"></script>
  <script src="js/angular.min.js" type="text/javascript"></script>
  <script src="application.js" type="text/javascript"></script>
  </html>
